<h2>Categorias</h2>
<hr>

{{#each categorias}}
    <a href="/categorias/{{slug}}"><h5>{{nome}}</h5></a>
{{else}}
    <h3>Nenhuma categoria registrada</h3>
    {{#if user}}
    <h4 class="mt-4">Registrar categoria: <a href="/admin/categorias/add" class="btn btn-success">Criar</a></h4>
    {{else}}
    <h5>Apenas admins podem registrar novas categorias</h5>

    {{/if}}
{{/each}}